<div class="header">
    <div class="search">
        <input type="text" placeholder="Search Function">
    </div>
    <div class="user">
        <div class="themeToggle">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="checkbox-label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <span class="ball"></span>
            </label>
        </div>
        <div class="avatar">
            {% if username %}
            <a href="/"> <img src="./static/img/avatar.png" alt=""></a>
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login"> <img src="./static/img/avatar.png" alt=""></a>
            {% endif %}
        </div>

    </div>
</div>