<div class="header">
    <div class="search">
        <input type="text">
    </div>
    <div class="user">
        <div class="themeToggle">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="checkbox-label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <span class="ball"></span>
            </label>
        </div>
        <div class="avatar">
            <img src="./static/img/avatar.png" alt="">
        </div>

    </div>
</div>