{%extends 'layout/base.html'%}
{%block content%}
<div class="container">
    <h2>Danh sach lop hoc</h2>
        <form method="GET" action="/input_scores">
        <div class="row mb-3">
            <div class="col">
                <label for="class" class="form-label">Lớp:</label>
                <select id="class" name="class_id" class="form-select">
                    <option value="">Chọn lớp</option>
                    {% for class in classes %}
                    <option value="{{ class.id }}" {% if class.id == class_id|int %} selected {% endif %}>{{ class.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="semester" class="form-label">Học kỳ:</label>
                <select id="semester" name="semester_id" class="form-select">
                    <option value="">Chọn học kỳ</option>
                    {% for semester in semesters %}
                    <option value="{{ semester.id }}" {% if semester.id == semester_id|int %} selected {% endif %}>{{ semester.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="subject" class="form-label">Môn:</label>
                <select id="subject" name="subject_id" class="form-select">
                    <option value="">Chọn môn học</option>
                    {% for subject in subjects %}
                    <option value="{{ subject.id }}" {% if subject.id == subject_id|int %} selected {% endif %}>{{ subject.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="year" class="form-label">Năm học:</label>
                <select id="year" name="year_id" class="form-select">
                    <option value="">Chọn năm học</option>
                    {% for year in years %}
                    <option value="{{ year.id }}" {% if year.id == year_id|int %} selected {% endif %}>{{ year.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-dark">Tìm kiếm</button>
        </div>
    </form>
    <form method="post" action="/create_class">
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="class_name" placeholder="Ten lop" name="class_name" required>
            <label for="class_name">Ten lop</label>
        </div>
        <div class="form-floating mt-3 mb-3">
            <button class="btn btn-primary">Tao lop</button>
        </div>
</div>
{%endblock%}