@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    --darkBG: #292c35;
    --lightBG: #FFFFFF;
    --lightText: #EEEEEE;
    --darkText: #373A40;
    --lightNavbar: #CCCCCC;
    --darkNavbar: #647D87;
    --buttonColor: #D4F6FF;
}

body {
    font-family: "Patrick Hand", cursive;
    width: 100vw;
    height: 100vh;
    background-color: var(--lightBG);
    color: var(--darkText);
    padding: 0 3rem 3rem 3rem;
}
a{
    text-decoration: none;
    color: var(--darkText);
}
/*#left{*/
/*    position: fixed;*/
/*    width: auto;*/
/*    height: 100%;*/
/*}*/
/*#container{*/
/*    width: 80%;*/
/*    height: 100%;*/
/*}*/
#container {
    padding: 0 20px 20px 20px;
    transition: margin-left 0.3s ease;
    box-sizing: border-box;
}
#container.shifted {
   padding: 0 20px 20px 20px;
    margin-left: 250px;
}
/*#footer {*/
/*    position: fixed; !* Cố định footer ở cuối màn hình *!*/
/*    bottom: 0; !* Đảm bảo footer nằm sát cạnh dưới *!*/
/*    width: 100%; !* Chiều rộng toàn màn hình *!*/
/*    height: 50px; !* Chiều cao của footer *!*/
/*    background-color: var(--lightNavbar); !* Giữ màu như hiện tại *!*/
/*    text-align: center; !* Căn giữa nội dung *!*/
/*    line-height: 50px; !* Đặt nội dung theo chiều cao *!*/
/*    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); !* Tạo hiệu ứng chiều sâu *!*/
/*    z-index: 100; !* Đảm bảo footer nằm trên các nội dung khác *!*/
/*}*/

/*.container-main{*/
/*    height: 100%;*/
/*}*/
.navbar {
    position: fixed;
    background: var(--lightNavbar);
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.navbar img {
    width: 100px;
    height: 10%;
}

.navbar ul {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}

.content{
    background: gray;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.search input {
   padding: 10px;
    border: 2px var(--buttonColor) solid;
    border-radius: 16px;
    width: 500px;
}
.user{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.user img{
    width: 40px;
    height: 40px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    height: auto;
}

/*Dark theme*/
body.dark {background-color: var(--darkBG);}

body.dark h1, body.dark a {color: var(--lightText);}
body.dark .sidebar{
    background: var(--darkNavbar);
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: var(--buttonColor);}

.fa-sun {color: var(--buttonColor);}

.checkbox-label .ball {
  background-color: var(--lightBG);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}